container_commands:
  01_create_env_file:
    command: |
      /opt/elasticbeanstalk/bin/get-config --output YAML environment|perl -ne "/^\w/ or next; s/: /=/; print qq|\$_|" > .env

  02-artisans:
    command: |
      php artisan cache:clear
      php artisan optimize -n
      php artisan config:cache
  03-migrations:
      command: |
        A=`/opt/elasticbeanstalk/bin/get-config meta -k sqsdconfig --output YAML | grep http_path | awk '{ print $2 }'`
        if [ -z "$A" ]; then
          echo "migration web tier..."
          php artisan migrate --force
          php artisan db:seed --force
        else
          echo "Skipping migration from worker...."
        fi
      leader_only: true
files:
  "/opt/elasticbeanstalk/addons/logpublish/hooks/config/20-appconfig.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      /opt/elasticbeanstalk/bin/get-config --output YAML environment|perl -ne "/^\w/ or next; s/: /=/; print qq|\$_|" > /var/app/current/.env
      /opt/elasticbeanstalk/hooks/appdeploy/post/98_laravel_deps.sh

  "/opt/elasticbeanstalk/hooks/appdeploy/post/98_laravel_deps.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo "Running Artisan config cache..."
      php /var/app/current/artisan config:cache
      php /var/app/current/artisan route:cache
      php /var/app/current/artisan optimize -n

  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_storage_writable.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo "Making /storage writeable..."
      chmod -R 777 /var/app/current/storage

      if [ ! -f /var/app/current/storage/logs/laravel.log ]; then
          echo "Creating /storage/logs/laravel.log..."
          touch /var/app/current/storage/logs/laravel.log
          chown webapp:webapp /var/app/current/storage/logs/laravel.log
      fi

  "/opt/elasticbeanstalk/tasks/taillogs.d/laravel-log.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/storage/logs/*.log

  "/opt/elasticbeanstalk/tasks/publishlogs.d/laravel-logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/storage/logs/*.log
