files:
  "/etc/httpd/conf.modules.d/10-worker.conf":
      mode: "000644"
      owner: root
      group: root
      content: |
        <IfModule prefork.c>
          StartServers 10
          MinSpareServers 10
          MaxSpareServers 20
          ServerLimit 50
          MaxClients 50
          MaxRequestsPerChild 10000
        </IfModule>

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/26_apache_worker_config.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
        #!/usr/bin/env bash

        # Configure Apache worker based on the memory limits of this server
        MEM=$(free | awk 'FNR == 2 {print int($2)/1024*0.9}')
        echo "TOTAL MEMORY $MEM"
        AVG_HTTPD=$(printf "%.0f" $(ps -ylC httpd --sort:rss | awk '{sum+=$8; ++n} END {print sum/n/1024}'))
        if [ "$AVG_HTTPD" -lt 30 ]; then
          AVG_HTTPD=30
        fi
        echo "AVG $AVG_HTTPD"
        MAX_SERVER=$(echo "scale=2; $MEM/$AVG_HTTPD" | bc)
        SEVER_LIMIT=$(printf %0.f\\n "$MAX_SERVER")
        START_SERVER=$(printf "%.0f" $(echo "scale=2;$MAX_SERVER*.3" | bc))
        MIN_SERVER=$(printf "%.0f" $(echo "scale=2;$MAX_SERVER*.2" | bc))
        MAX_SERVER=$(printf "%.0f" $(echo "scale=2;$MAX_SERVER*.25" | bc))

        WORKER_CNF="/etc/httpd/conf.modules.d/10-worker.conf"

        sed -i "s/StartServers.*/StartServers $START_SERVER/" $WORKER_CNF
        sed -i "s/MinSpareServers.*/MinSpareServers $MIN_SERVER/" $WORKER_CNF
        sed -i "s/MaxSpareServers.*/MaxSpareServers $MAX_SERVER/" $WORKER_CNF
        sed -i "s/ServerLimit.*/ServerLimit $SEVER_LIMIT/" $WORKER_CNF
        sed -i "s/MaxClients.*/MaxClients $SEVER_LIMIT/" $WORKER_CNF
        sed -i "s/MaxRequestWorkers.*/MaxRequestWorkers $SEVER_LIMIT/" $WORKER_CNF

        #sed   -i '/###  XLOGAPP Settings.*/,$d' a.conf

        if grep -q 'XLOG-API Settings' /etc/httpd/conf/httpd.conf; then
            echo 'Apache is already configured'
        else
            cat /tmp/httpdconf >> /etc/httpd/conf/httpd.conf
        fi

  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # mod_deflate configuration
      <IfModule mod_deflate.c>
          SetOutputFilter DEFLATE
          # Restrict compression to these MIME types
          AddOutputFilterByType DEFLATE text/plain
          AddOutputFilterByType DEFLATE text/html
          AddOutputFilterByType DEFLATE application/xhtml+xml
          AddOutputFilterByType DEFLATE text/xml
          AddOutputFilterByType DEFLATE application/xml
          AddOutputFilterByType DEFLATE application/xml+rss
          AddOutputFilterByType DEFLATE application/x-javascript
          AddOutputFilterByType DEFLATE text/javascript
          AddOutputFilterByType DEFLATE text/css
      </IfModule>

      <IfModule mod_headers.c>
        Header unset ETag
        # Make sure proxies don't deliver the wrong content
        Header append Vary User-Agent env=!dont-vary
        Header always set X-Frame-Options SAMEORIGIN
        Header always set X-Content-Type-Options nosniff
        Header always set X-XSS-Protection "1; mode=block"
      </IfModule>

      <IfModule mod_expires.c>
        ExpiresActive On

        ExpiresByType application/json                      "access plus 0 seconds"
        ExpiresByType application/xml                       "access plus 0 seconds"
        ExpiresByType text/xml                              "access plus 0 seconds"
        ExpiresByType text/html                             "access plus 0 seconds"
        ExpiresByType application/x-web-app-manifest+json   "access plus 0 seconds"
        ExpiresByType text/cache-manifest                   "access plus 0 seconds"

        ExpiresByType image/jpg "access 1 year"
        ExpiresByType image/jpeg "access 1 year"
        ExpiresByType image/gif "access 1 year"
        ExpiresByType image/png "access 1 year"
        ExpiresByType image/svg "access 1 year"
        ExpiresByType text/css "access 1 month"
        ExpiresByType text/javascript "access 1 month"
        ExpiresByType application/pdf "access 1 month"
        ExpiresByType text/x-javascript "access 1 month"
        ExpiresByType application/x-shockwave-flash "access 1 month"
        ExpiresByType image/x-icon "access 1 year"
        ExpiresDefault "access 1 month"
      </IfModule>

      RewriteEngine On
      <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
        RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
      </If>
  "/tmp/httpdconf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      ###  XLOG-API Settings ###

      KeepAliveTimeout 5
      HostnameLookups Off

      <Directory "/var/www/html/public">
        Options FollowSymLinks
        AllowOverride None
        DirectoryIndex index.php
        Require all granted
        RewriteEngine On

        <IfModule mod_negotiation.c>
            Options -MultiViews
        </IfModule>

        # Redirect Trailing Slashes If Not A Folder...
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteCond %{REQUEST_URI} (.+)/$
        RewriteRule ^ %1 [L,R=301]

        # Handle Front Controller...
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteRule ^ index.php [L]

        # Handle Authorization Header
        RewriteCond %{HTTP:Authorization} .
        RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
      </Directory>
      ###  End of XLOG-API Settings ###
